<header>
  <b-row class="pt-5">
    <b-col cols="12" class="text-center">
      <b-img
        fluid
        src="~/assets/img/ME.JPEG"
        alt="My profile picture"
        rounded="circle"
        class="profile__perfil"
      ></b-img>
      <h2 class="profile__name">Carlos Echeverria</h2>
      <h3 class="profile__profession">Fullstack developer</h3>
    </b-col>
    <b-col class="text-center">
      <ul class="profile__social">
        <a
          href="https://www.instagram.com/echeverriadev"
          target="_blank"
          class="profile__social-link"
        >
          <font-awesome-icon :icon="['fab', 'instagram']" />
        </a>
        <a
          href="https://www.linkedin.com/in/echeverriadev/"
          target="_blank"
          class="profile__social-link"
        >
          <font-awesome-icon :icon="['fab', 'linkedin']" />
        </a>
        <a
          href="https://github.com/echeverriadev"
          target="_blank"
          class="profile__social-link"
        >
          <font-awesome-icon :icon="['fab', 'github']" />
        </a>
      </ul>
    </b-col>
    <b-col cols="12">
      <ul class="profile__info">
        <li class="profile__info-group">
          <h3 class="profile__info-number">7</h3>
          <p class="profile__info-description">
            Years of <br />
            work
          </p>
        </li>
        <li class="profile__info-group">
          <h3 class="profile__info-number">7</h3>
          <p class="profile__info-description">
            Years of <br />
            work
          </p>
        </li>
        <li class="profile__info-group">
          <h3 class="profile__info-number">7</h3>
          <p class="profile__info-description">
            Years of <br />
            work
          </p>
        </li>
      </ul>
    </b-col>
    <b-col cols="12">
      <ul class="profile__buttons">
        <a href="assets/pdf/ECHEVERRIA-CV.pdf" class="button">Download CV</a>
        <a href="https://wa.me/573105891873" class="button button__small button__gray"
          ><font-awesome-icon :icon="['fab', 'whatsapp']"
        /></a>
        <a href="https://m.me/echeverriac1" class="button button__small button__gray"
          ><font-awesome-icon :icon="['fab', 'facebook-messenger']"
        /></a>
      </ul>
    </b-col>
  </b-row>
</header>
